
//- IMPORTANT
//- Remember to update functions in webelements.js, to store new value as cookie!

div(class="flex-container hidden")#settings
    div(class="back-btn") X

    form#customization
        div(class="container")
            h1(class='center-text') Customization
            //- Space between header and content
            div(style="height:90px;")
            //- This is one row of items to customize
            div(class='row')
                div(class="one-half column")
                    h5 Dot color
                div(class="one-half column")
                    input(class='right-align' type="color" id="body" name="dotColor" value="#4B0082")
            //- This is the end of first row
            div(class='row')
                div(class="one-half column")
                    h5 Player name
                div(class="one-half column")
                    input(class='right-align' type="text" id="name" name="playerName" style="text-transform: capitalize;" placeholder='Enter your name here')

            div(class='row center-text')
                input(class="button", type="submit", value="Save")#submitBtn



//input(type="text")#textInput
//input(type="color" value="#000000")#colorInput
//input(type="submit")