extends layout

block scripts
    script(type="text/javascript" src="https://unpkg.com/acorn")
    script(type="text/javascript" src="https://unpkg.com/mathjs@6.6.3")
    script(type='text/javascript' src='scripts/frameworks/paper-full.js')
    script(type='module' src='scripts/sprout-game.js')

block content
    div.game-container#game-container
        canvas(resize="true")#sproutGameCanvas