div(class="flex-container hidden")#game
    canvas(resize="false")#sproutGameCanvas
    table(class="w3-table w3-striped w3-text-teal msg-box")#messages
        tbody

    form(action="" autocomplete="off")#chatMsgForm
        div(class="flex-container" style="display:inline-flex; width:100%")
            input(type="text" style="width:95%;")#chatMsgField
            //input(class="button", type="submit", value="Save")#sendMsgBtn
            button(type="submit", form="chatMsgForm" style="font-weight:bold") send