extends layout

block scripts
    //script(type="text/javascript" src="scripts/main-menu.js")
    script(type="text/javascript" src="scripts/client.js")
    script(type="text/javascript" src="https://unpkg.com/acorn")
    script(type='text/javascript' src='scripts/frameworks/paper-full.js')
    script(type='module' src='scripts/sprout-game.js')
    //script(type='text/javascript' src='scripts/webelements.js')


block content
    style.
        body {
            background: #61daac;
            color: #4bac88;
            text-align: center;
        }

        .container {
            width: 100%;
            position: relative;
        }


    ul(class="pages")
        li(class="lobby page")#lobbyPage
            div(class="container")
                // Sprouts logo
                a(href="/" style="position: relative; z-index: 0;")
                    img(style="width:35em;" src='../assets/sprouts.svg')

                // The main content of the page
                div(class="main-block flex-container")

                    // Buttons on left side
                    div(style="position:relative;bottom:5%;")
                        a(class='button')#importBtn Import
                            input(type='file' name='world-input' id='world-file-input' style="display:none" accept="text/plain,.txt" onchange="handleFile(this.files)")
                        a(class='button' href="game")#generateBtn Generate
                        a(class='button' href="customize")#settingsBtn Settings
                        a(class='button' href="scoreboard")#scoreboardBtn Scoreboard

                    div(style="position:relative;")
                        // Table containing a list of games
                        table(class="w3-table w3-hoverable" style="margin: 0 1em;")#rooms
                            thead
                                tr
                                    th(class="w3-left-align") name
                                    th(class="w3-right-align") players
                            tbody

                        a(class='button')#quickplayBtn Quickplay
                        //a(class='button' onclick='changeDisplay()') Quickplay


        li(class="game page")#gamePage
            div(class="container")#gameContainer
                // Sprouts logo
                a(href="/" style="position: relative; z-index: 0;")
                    img(style="width:25em;" src='../assets/sprouts.svg')

                canvas(resize="true")#sproutGameCanvas
