extends layout

block content
  div(style="display:inline-grid;")
    a(class='button', id='button', onclick='toggleHiding()')
      h3 Play Game
    div(style="display:none;", id='test')
      a(class='button', href='game')
        h3 import
      a(class='button', href='game')
        h3 other
    a(class='button', href='customize')
      h3 Customize
    a(class='button', href='scoreboard')
      h3 Scoreboard
  script(type='text/javascript' src='scripts/animations.js')
