extends layout

block scripts
    //script(type="text/javascript" src="scripts/main-menu.js")
    script(type="text/javascript" src="scripts/client.js")
    script(type="text/javascript" src="https://unpkg.com/acorn")
    script(type='text/javascript' src='scripts/frameworks/paper-full.js')
    script(type='module' src='scripts/sprout-game.js')
    //script(type='text/javascript' src='scripts/webelements.js')


block content
    style.
        .w3-table {
            margin: 0 1em;
            width: 24em;
            /*height:35em;*/
            cursor: pointer;
            background-color: #fefff9;
            border: 2px solid #4bac88;
            border-radius: 4px;
        }

        #sproutGameCanvas {
            /*(resize="true" style="border:2px solid black; position:relative;bottom:5%; ")*/
            border:2px solid #4bac88;
            background-color: #e7ffe7;
            position: relative;
            width: 100%;
            height: 70%;
            z-index: 4;
        }


    div(class="container")
        // Sprouts logo
        a(href="/" style="position: relative; z-index: 0;")
            img(style="width:35em;" src='../assets/sprouts.svg')

        // The main content of the page
        div(class="main-block flex-container" style="align-items: center; display:inline-flex;")#mainMenu

            // Buttons on left side
            div(style="position:relative;bottom:5%;")
                a(class='button')#importBtn Import
                    input(type='file' name='world-input' id='world-file-input' style="display:none" accept="text/plain,.txt" onchange="handleFile(this.files)")
                a(class='button' href="game")#generateBtn Generate
                a(class='button' href="customize")#settingsBtn Settings
                a(class='button' href="scoreboard")#scoreboardBtn Scoreboard

            div
                // Table containing a list of games
                table(class="w3-table w3-hoverable")#rooms
                    thead
                        tr
                            th(class="w3-left-align") name
                            th(class="w3-right-align") players
                    tbody

                a(class='button')#quickplayBtn Quickplay

        div(class="main-block flex-container hidden" style= "display:inline-block;")#gamePane
            canvas#sproutGameCanvas
            ul#messages
                form(action="")
                    input(type="text")#msg
                    button Send



