extends layout

block content
  div(style="display:inline-grid;", id="all-objects")
    a(class='button', id='button', onclick='toggleHiding()')
      h3 Play Game
    div(class='box transform', id='test')
      a(class='button', href='game')
        h3 import
      a(class='button', href='game')
        h3 other
    a(class='button', href='customize')
      h3 Customize
    a(class='button', href='scoreboard')
      h3 Scoreboard
  script(type='text/javascript' src='scripts/animations.js')
