extends layout

block scripts
  script(type="text/javascript" src="scripts/main-menu.js")
  //script(type='text/javascript' src='scripts/animations.js')

block content
  div(class="container")
    div(style="display:inline-grid;")
      a(class='button', id='button', onclick='toggleHiding()')
        h3 Play Game
      div(style="display:none; width:70%;", id='test')
        a(class='button', id='import-button')
          input(type='file' name='world-input' id='world-file-input' style="display:none" accept="text/plain,.txt" onchange="handleFile(this.files)")
          h3 Import
        a(class='button', href='game')
          h3 Generate
        a(class='button', href='game')
          h3 Map Editor
      a(class='button', href='customize')
        h3 Customize
      a(class='button', href='scoreboard')
        h3 Scoreboard
        script(type='text/javascript' src='scripts/webelements.js')
