doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='scripts/paper-full.js')
    script(type='text/paperscript' src='scripts/myScript.js' canvas="myCanvas")
    //link(rel='icon' href='https://images.theconversation.com/files/199921/original/file-20171219-4973-rq1yq8.jpg')
  body
    block content
