// The main content of the page
div(class="flex-container")#main_menu

   // Buttons on left side
   div(style="position:relative;bottom:5%;")
       a(class='button')#importBtn Import
           input(type='file' name='world-input' style="display:none" accept="text/plain,.txt")#fileInput
       a(class='button')#settingsBtn Settings
       a(class='button')#scoreboardBtn Scoreboard
       a(class='button', href="/doc") Documentation
   div
       // Table containing a list of games
       p#welcomeUser
       table(class="w3-table w3-hoverable")#rooms
           thead
               tr
                   th(class="w3-left-align") name
                   th(class="w3-right-align") players
           tbody
       div(class="flex-container" style="display:inline-flex; width:70%")
           a(class='button')#quickplayBtn Quickplay
           a(class='button')#newGameBtn New Game
   div(title="dialogBox")#dialog
       p
   div(class="infoBox")#infoBox
        div(class="infoBox-content")#infoBoxContent
            p#infoBoxP
            button(onclick='document.getElementById("infoBox").style.display="none"')#infoBoxOkay okay
