extends layout

block content
    div(class="container")
        h1(class='center-text') Score Board
        //- Space between header and content
        div(style="height:90px;")
        table(class="u-full-width")
            thead
                tr
                    th Name
                    th Wins
                    th Losses
            tbody
                each result in results
                    tr
                        td=result.name
                        td=result.wins
                        td=result.losses