extends layout

block content
    div(class="container")
        h1(class='center-text') Score Board
        //- Space between header and content
        div(style="height:90px;")
        table(class="u-full-width")
            thead
                tr
                    th Name
                    th Wins
                    th Losses
            tbody
                tr
                    td Mikkel
                    td 1337
                    td 0
                tr
                    td Benji
                    td 420
                    td 999
                tr
                    td Wictor
                    td 69
                    td 1234542
                tr
                    td Laura
                    td 42
                    td 0