a {
  color: #00B7FF;
}

/* Scale canvas with resize attribute to full size */

.game-container {
  /*resize: both;*/
  overflow: hidden;
  width: 1024px;
  height: 1024px;
}
canvas[resize] {
  width: 100%;
  height: 100%;
}

.center-text {
  text-align: center;
}

.right-align {
  float: right;
}

.box {
  display: none;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform-active {
  display: inline-grid;
}